
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="layout-content">

    <div class="container flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-0">Dashboard</h4>
        <div class="text-muted small mt-0 mb-4 d-block breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </div>
        <div class="row">

            <div class="col-lg-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="">
                                        <h2 class="mb-2"> 256 </h2>
                                        <p class="text-muted mb-0"><span class="badge badge-primary">Revenue</span> Today</p>
                                    </div>
                                    <div class="lnr lnr-leaf display-4 text-primary"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="">
                                        <h2 class="mb-2">8451</h2>
                                        <p class="text-muted mb-0"><span class="badge badge-success">20%</span> Stock</p>
                                    </div>
                                    <div class="lnr lnr-chart-bars display-4 text-success"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="">
                                        <h2 class="mb-2"> 31% <small></small></h2>
                                        <p class="text-muted mb-0">New <span class="badge badge-danger">20%</span> Customer</p>
                                    </div>
                                    <div class="lnr lnr-rocket display-4 text-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="">
                                        <h2 class="mb-2">158</h2>
                                        <p class="text-muted mb-0"><span class="badge badge-warning">$143.45</span> Profit</p>
                                    </div>
                                    <div class="lnr lnr-cart display-4 text-warning"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            

        </div>
        
        
    </div>


    <nav class="layout-footer footer footer-light">
        <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
            <div class="pt-3">
                <span class="float-md-right d-none d-lg-block">&copy; Exclusive on Themeforest | Hand-crafted &amp; Made with <i class="fas fa-heart text-danger mr-2"></i></span>
            </div>
            <div>
                <a href="javascript:" class="footer-link pt-3">About Us</a>
                <a href="javascript:" class="footer-link pt-3 ml-4">Help</a>
                <a href="javascript:" class="footer-link pt-3 ml-4">Contact</a>
                <a href="javascript:" class="footer-link pt-3 ml-4">Terms &amp; Conditions</a>
            </div>
        </div>
    </nav>

</div>