
<div class="sidenav bg-dark">
    <div id="layout-sidenav" class=" container layout-sidenav-horizontal sidenav-horizontal flex-grow-0 bg-dark">
        <ul class="sidenav-inner">

            <li class="sidenav-item">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-home"></i>
                    <div>Kontrol Panel</div>

                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="index.html" class="sidenav-link">
                            <div>Default</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidenav-item">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-settings"></i>
                    <div>Genel İşlemler</div>

                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a asp-area="Magaza" asp-controller="Dashboard" asp-action="KategoriTalep" class="sidenav-link">
                            <div>Kategori Talep</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidenav-item">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-shopping-cart"></i>
                    <div>Ürün Yönetimi</div>
                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a asp-controller="Urun" asp-action="UrunEkle" class="sidenav-link">
                            <div>Ürün Ekle</div>
                        </a>
                    </li>
 
                    <li class="sidenav-item">
                        <a href="index.html" class="sidenav-link">
                            <div>
                                Mağazadaki Ürünler
                            </div>
                        </a>
                    </li>
 
                    <li class="sidenav-item">
                        <a href="index.html" class="sidenav-link">
                            <div>
                                Çoklu Fiyat Sistemi
                            </div>
                        </a>
                    </li>
 
                    <li class="sidenav-item">
                        <a href="index.html" class="sidenav-link">
                            <div>
                                Kategori Oluştur(Yoksa)
                            </div>
                        </a>
                    </li>
 
                    <li class="sidenav-item">
                        <a href="index.html" class="sidenav-link">
                            <div>Seçenek Oluştur(Yoksa)</div>
                        </a>
                    </li>
                </ul>


            </li>

            <li class="sidenav-item">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-download"></i>
                    <div>Siparişlerim</div>

                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="index.html" class="sidenav-link">
                            <div>Default</div>
                        </a>
                    </li>
                </ul>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="index.html" class="sidenav-link">
                            <div>Default2</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidenav-item">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-trending-up"></i>
                    <div>Raporlar</div>

                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="index.html" class="sidenav-link">
                            <div>Default</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidenav-item">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-layers"></i>
                    <div>Kargo Ayarları</div>

                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="index.html" class="sidenav-link">
                            <div>Default</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidenav-item">
                <a href="javascript:" class="sidenav-link sidenav-toggle">
                    <i class="sidenav-icon feather icon-user-check"></i>
                    <div>Profilim</div>

                </a>
                <ul class="sidenav-menu">
                    <li class="sidenav-item">
                        <a href="index.html" class="sidenav-link">
                            <div>Default</div>
                        </a>
                    </li>
                </ul>
            </li>


        </ul>
    </div>
</div>
